# User Defined Functions in Python

Functions are defined in Python using "def" keyword.

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

As you already know, Python gives you many built-in functions like print(), etc. but you can also create your own functions. These functions are called user-defined functions.

You can define functions to provide the required functionality. Here are simple rules to define a function in Python.

* Function blocks begin with the keyword def followed by the function name and parentheses ( ( ) ).

* Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.

* The first statement of a function can be an optional statement - the documentation string of the function or docstring.

* The code block within every function starts with a colon (:) and is indented.

* The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

In [3]:
# Defining the function
def FunctionDemo():
    print('hello python')
    print('second line')

In [4]:
# Calling the Function 
FunctionDemo()

hello python
second line

In [5]:
%whos

Variable       Type        Data/Info
------------------------------------
FunctionDemo   function    <function FunctionDemo at 0x10d84b290>

In [6]:
type(FunctionDemo)

function

In [20]:
# Defining a function with user input
def FunctionDemo2(inpNum):
    print('hello')
    print('your input is', inpNum)

In [21]:
# Calling the function with number
FunctionDemo2(10)

hello
your input is 10

In [22]:
# Calling the function with string
FunctionDemo2('bye')

hello
your input is bye

In [33]:
# Accepting a interactive user input
def FunctionUserInp():
    %matplotlib inline
    print('please enter a value')
    userInp=input()
    userInp=int(userInp) #use only if you need a number
    print(type(userInp))
    print('your input is:', userInp)
    
# Calling the function
FunctionUserInp()

please enter a value
3200
<class 'int'>
your input is: 3200

In [25]:
# Defining a function with two arguments
def FunctionAdd(num1, num2):
    sumValue=num1+num2
    print('the sum of',num1,'and',num2, 'is:', sumValue)

In [30]:
# Positional call
FunctionAdd(4,5)

the sum of 4 and 5 is: 9

In [27]:
# positional call
FunctionAdd(4,50)

the sum of 4 and 50 is: 54

In [35]:
# Call by reference
# preferred way to call your functions
FunctionAdd(num2=5, num1=4)

the sum of 4 and 5 is: 9

In [45]:
# Defining a function with default argument values
def FunctionAddDefault(num1=10, num2=20):
    sumValue=num1+num2
    print('the sum of',num1,'and',num2, 'is:', sumValue)
    return sumValue

In [50]:
# Calling without any inputs, using default values
FunctionAddDefault(10,100)

the sum of 10 and 100 is: 110

110

In [47]:
# Calling with inputs, it will overwrite the defaults
FunctionAddDefault(num1=2, num2=30)

the sum of 2 and 30 is: 32

32

In [48]:
mySum=FunctionAddDefault(20,4)

the sum of 20 and 4 is: 24

In [49]:
mySum

24

In [51]:
# Defining a function with a return statement
def FunctionAddDefault(num1=10, num2=20):
    sumValue=num1+num2
    multiplyValue=num1*num2
    print('the sum of',num1,'and',num2, 'is:', sumValue)
    print('the multiplication of',num1,'and',num2, 'is:', multiplyValue)
    # return must be the last statement
    # there must be only one return statement
    # you can return multiple values at once
    return sumValue, multiplyValue

In [52]:
# The output of the function can be stored
# in the same order in which the values are returned
sumResult, prodResult = FunctionAddDefault(num1=20, num2=100)

the sum of 20 and 100 is: 120
the multiplication of 20 and 100 is: 2000

In [53]:
# Printing the results
print('sumResult:',sumResult)
print('prodResult:',prodResult)

sumResult: 120
prodResult: 2000

In [ ]:
# Create a function named FunctionArea
# which takes one input, the radius of a circle
# and prints the area
# FunctionArea(inpRadius=10)
# The area of circle with radius 10 is 314

In [56]:
# Defining the function
def FunctionArea(inpRadius):
    CircleArea=3.14*inpRadius**2
    print('Area of a circle with radius', inpRadius, 'is', CircleArea)

In [60]:
# calling the function
FunctionArea(inpRadius=7)

Area of a circle with radius 7 is 153.86

In [ ]:
# Create a function named FunctionCircumference
# which takes one input, the radius of a circle
# and prints the circumference
# FunctionCircumference(inpRadius=10)
# The circumference of circle with radius 10 is 62.80

In [66]:
# Create a function which takes a list as an input
# It prints the number of values inside it

# Sample Function call
FunctionCount(inpList=[1,2,3,3,66])
# Expected Output:  The list has 4 values in it

The list has 5 values in it

## Class Exercices

In [306]:
def FunctionArea(radius):
    area=3.14*radius**2
    print('The area of the circle with radius',radius,'is', area)

FunctionArea(radius=20)

The area of the circle with radius 20 is 1256.0

In [307]:
def FunctionFindlength(inpList):
    ListLength=len(inpList)
    print('the length of the list is', ListLength)

mylist=[20,30,40,50,2]
FunctionFindlength(mylist)

the length of the list is 5

In [48]:
def FunctionFindMax(inpList):
    MaxValue=max(inpList)
    print('the max value in the list is',MaxValue)
    MaxValuePlus=MaxValue+10
    return MaxValue, MaxValuePlus

FunctionFindMax([20,30,3,10])

the max value in the list is 30

(30, 40)

In [49]:
Max_Value1, Max_Value2=FunctionFindMax([20,30,3,10])

the max value in the list is 30

In [68]:
Max_Value1

30

In [69]:
Max_Value2

40

In [50]:
import pandas as pd
CarPricesData=pd.read_csv('CarPricesData.csv')

In [66]:
def FunctionPrintDataDetails(inpData):
    print("the data details are")
    print(inpData.info())
    print("#"*70)
    print(inpData.describe(include='all'))
    print("#"*70)
    print(inpData.shape)
    print("#"*70)
    print(inpData.columns)

# Calling the function
FunctionPrintDataDetails(inpData=CarPricesData)
# Call this function for data Iris

the data details are
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1434 non-null float64
KM           1436 non-null int64
FuelType     1432 non-null object
HP           1436 non-null int64
MetColor     1436 non-null int64
Automatic    1436 non-null int64
CC           1434 non-null float64
Doors        1436 non-null int64
Weight       1434 non-null float64
dtypes: float64(3), int64(6), object(1)
memory usage: 112.3+ KB
None
######################################################################
               Price          Age             KM FuelType           HP  \
count    1436.000000  1434.000000    1436.000000     1432  1436.000000
unique           NaN          NaN            NaN        3          NaN
top              NaN          NaN            NaN   Petrol          NaN
freq             NaN          NaN            NaN     1260          NaN
mean    10730.824513    55.986750   68533.259749      NaN   101.502089
std      3626.964585    18.581796   37506.448872      NaN    14.981080
min      4350.000000     1.000000       1.000000      NaN    69.000000
25%      8450.000000    44.000000   43000.000000      NaN    90.000000
50%      9900.000000    61.000000   63389.500000      NaN   110.000000
75%     11950.000000    70.000000   87020.750000      NaN   110.000000
max     32500.000000    80.000000  243000.000000      NaN   192.000000

           MetColor    Automatic           CC        Doors       Weight
count   1436.000000  1436.000000  1434.000000  1436.000000  1434.000000
unique          NaN          NaN          NaN          NaN          NaN
top             NaN          NaN          NaN          NaN          NaN
freq            NaN          NaN          NaN          NaN          NaN
mean       0.674791     0.055710  1566.990934     4.033426  1072.487448
std        0.468616     0.229441   187.178221     0.952677    52.672475
min        0.000000     0.000000  1300.000000     2.000000  1000.000000
25%        0.000000     0.000000  1400.000000     3.000000  1040.000000
50%        1.000000     0.000000  1600.000000     4.000000  1070.000000
75%        1.000000     0.000000  1600.000000     5.000000  1085.000000
max        1.000000     1.000000  2000.000000     5.000000  1615.000000
######################################################################

(1436, 10)
######################################################################
Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [54]:
CarPricesData.shape

(1436, 10)

In [33]:
def FunctionPrintDataDims(inpData):
    DataRows=inpData.shape[0]
    DataCols=inpData.shape[1]
    print("the number of rows are: ",DataRows)
    print("*"*10)
    print("the number of cols are: ",DataCols)

# Calling the function
FunctionPrintDataDims(inpData=CarPricesData)

the number of rows are:  1436
**********
the number of cols are:  10

In [57]:
# Write a function to take input of a dataframe and print top rows from it
# FunctionPrintTopRows(DataIris, 20) <-- this function call should 
# print top 20 rows of DataIris
def FunctionPrintTopNRows(inpData, nRows):
    print(inpData.head(nRows))

# Function Call
FunctionPrintTopNRows(inpData=CarPricesData, nRows=2)

   Price   Age     KM FuelType  HP  MetColor  Automatic      CC  Doors  Weight
0  13500  23.0  46986   Diesel  90         1          0  2000.0      3  1165.0
1  13750  23.0  72937   Diesel  90         1          0  2000.0      3  1165.0

In [1]:
# Create a function which take dataframe as input and a range of row indexes to print only those rows

In [58]:
def FunctionPrintTopNRows(inpData, startIndex, endIndex):
    print(inpData.iloc[startIndex:endIndex, ])

In [60]:
FunctionPrintTopNRows(inpData=CarPricesData, startIndex=1, endIndex=3)

   Price   Age     KM FuelType  HP  MetColor  Automatic      CC  Doors  Weight
1  13750  23.0  72937   Diesel  90         1          0  2000.0      3  1165.0
2  13950  24.0  41711   Diesel  90         1          0  2000.0      3  1165.0

In [64]:
# Write a function which takes a list of columns and dataframe as input
# It returns the data subset by choosing only the given columns
# Sample Call-1
dataSubset=FunctionSubset(inpData=CarPricesData, SelectCols=['Price', 'Age', 'KM'])

# Sample Call-2
#dataSubset=FunctionSubset(inpData=BostonHousingData, SelectCols=['MEDV', 'ZN','PTRATIO'])

In [65]:
dataSubset.head()

   Price   Age     KM
0  13500  23.0  46986
1  13750  23.0  72937
2  13950  24.0  41711
3  14950  26.0  48000
4  13750  30.0  38500

In [67]:
# Write a function which takes a list of columns and dataframe as input
# It returns the data subset by deleting only the given columns
dataSubset=FunctionDelete(inpData=CarPricesData, deleteCols=['Price', 'Age'])

In [68]:
dataSubset.head()

      KM FuelType  HP  MetColor  Automatic      CC  Doors  Weight
0  46986   Diesel  90         1          0  2000.0      3  1165.0
1  72937   Diesel  90         1          0  2000.0      3  1165.0
2  41711   Diesel  90         1          0  2000.0      3  1165.0
3  48000   Diesel  90         0          0  2000.0      3  1165.0
4  38500   Diesel  90         0          0  2000.0      3  1170.0

In [70]:
CarPricesData.head()

   Price   Age     KM FuelType  HP  MetColor  Automatic      CC  Doors  Weight
0  13500  23.0  46986   Diesel  90         1          0  2000.0      3  1165.0
1  13750  23.0  72937   Diesel  90         1          0  2000.0      3  1165.0
2  13950  24.0  41711   Diesel  90         1          0  2000.0      3  1165.0
3  14950  26.0  48000   Diesel  90         0          0  2000.0      3  1165.0
4  13750  30.0  38500   Diesel  90         0          0  2000.0      3  1170.0